@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202124;
}

header {
  background-color: white;
  padding: 20px;
}

header > h1 {
  color: #202124;
  text-align: center;
  font-family: Asap, sans-serif;
}

.score-board {
  margin: 20px auto;
  padding: 15px 20px;
  border: 3px solid white;
  border-radius: 4px;
  text-align: center;
  width: 200px;
  color: white;
  font-family: Asap, sans-serif;
  font-size: 46px;
  position: relative;
}

.badge {
  background-color: rgb(190, 0, 0);
  padding: 3px 10px;
  color: white;
  font-family: Asap, sans-serif;
  font-size: 14px;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -29px;
}

#comp-label {
  position: absolute;
  top: 30px;
  right: -29px;
}

.result {
  font-size: 30px;
  color: white;
}

.result > p {
  font-family: Asap, sans-serif;
  font-weight: bold;
  text-align: center;
}

.choices {
  margin-top: 40px;
  text-align: center;
}

.choice {
  margin: 0px 20px;
  padding: 10px;
  border: 4px solid white;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s;
}

.choice:hover {
  cursor: pointer;
  background-color: #0d0d0e;
}

#action-msg {
  margin-top: 40px;
  text-align: center;
  color: white;
  font-family: Asap, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.green-glow {
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b43a;
}

.red-glow {
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115;
}

.gray-glow {
  border: 4px solid #464647;
  box-shadow: 0 0 10px #25292b;
}
